body {
  background-color: #E2C1B2;
}

.App {
  text-align: center;
}

nav {
  margin: 2%;
  padding: 0 25%;
}

.App section {
  margin: 1% 5% 2%;
  padding: 1%;
  background-color: #BCE5F9;
}

.custom-caption {
  color: black;
}

header {
  position: relative;
}

.app-name {
  font-size: 45px;
  background-color: #E2C1B2;
  position: absolute;
  padding: 0.5%;
  top: 40px;
  left: 40%;
}

.app-name p {
  margin-bottom: 0;
}

.center-justify-content {
  display: flex;
  justify-content: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* @keyframes App-logo-spin { (I might want to use something like this to animate a beach ball.)
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.required-field { color: red; }
.success-message, .secondary-labels { color: green }
.tertiary-labels { color: brown }